{% extends "base_auth.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-box">

        <h2>Login</h2>

        <form id="login-form">

            <input
                type="email"
                id="email"
                placeholder="Email"
                class="input"
            >

            <input
                type="password"
                id="password"
                placeholder="Password"
                class="input"
            >

            <button type="submit">
                Login
            </button>

            <p class="auth-switch">
                Don't have an account?
                <a href="/register/">Register</a>
            </p>

        </form>

    </div>
</div>

<script src="{% static 'js/login.js' %}"></script>

{% endblock %}